{% extends 'layout/base.html' %}
{% load static %}


{% block styles %}


{% endblock styles%}


{% block heading %}Users{% endblock heading %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Add User
                </div>
                <div class="card-body">
                    <form method="POST">
                        <fieldset>
                            <legend>Form</legend>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

